{% extends 'base.html.twig' %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <p></p>
            <h2 class="text-center">Choisissez une table</h2>
        </div>
    </div>
    <center>
        <div class="row" >
        {% for table in tables %}
        <div class="row justify-content-around  ">
            <div class="col-sm-7 g-l">
                <div class="card">
                    <img class="card-img-top" src="{{asset('assets/images/stickers-cocktail.jpg')}}" alt="Card image cap">
                    <div class="card-body">
                        <a href="{{ path('listeCocktails', {id: table.id}) }}" class="btn btn-primary">Choisir la table {{ table.id }}</a>
                    </div>
                </div>
            </div>
    </div>

        {% endfor %}
        </div>
    </center>
{% endblock %}