<p></p>
<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col">
        </section>
        <center><section class="col">
                @2022
            </section></center>
        <section class="col">
        </section>
    </div>
</footer>